.view360 {
  padding: 9px;
  border-radius: 15px;
  background-color: rgb(234, 255, 4);
}

.view360 iframe {
  border-radius: 15px;
}

.animated-gradient {
  animation: animateBg 5s linear infinite;
  background-image: linear-gradient(
    0deg,
    #cf5c5c,
    #c19b4a,
    #def2a0,
    #c6ee4a,
    #42eca6,
    #64b3d9,
    #208ea2,
    #498ada,
    #5b73df,
    #897ed3,
    #cf5c5c,
    #c19b4a
  );
  background-size: 100% 1100%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.animated-gradient2 {
  animation: animateBg 15s linear infinite;
  background-image: linear-gradient(
    0deg,
    #00ffff,
    #6060d2,
    #e65b5b,
    #ff00f7,
    #00ffff,
    #6060d2
  );
  background-size: 150% 200%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.home {
}

.home .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 10px;
}

.home .box-container .box {
  flex: 1 1 30rem;
  margin: 5px;
  margin: 10px;
  padding: 10px;
  padding: 3rem 2rem;
  text-align: center;
  transition: 0.2s linear;
}

.elementor-video {
  max-width: 500px;
}

.textinfo {
  background-color: #e3d85e;
  color: blue;
  font-size: 2rem;
  padding: 150px;
}

.home .box-container .box .discrition {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  padding: 30px;
}

.about {
  text-align: center;
  padding: 6%;
  background-image: url("wp6587509.jpg");
}

.about .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .box-container .box {
  flex: 1 1 30rem;

  padding: 3rem 2rem;
  text-align: center;
  transition: 0.2s linear;
}

.abouttext {
  color: #ffffff;
  padding-right: 1500px;
  margin-right: 20%;
  text-align: center;
  font-size: 25px;
  padding-left: 0;
  text-shadow: 5px 0px #000000;
  text-align: justify;
}
.aboutimg {
  margin: 20%;
  text-align: center;
}

.footerbg {
  animation: animateBg 15s linear infinite;
  background-image: linear-gradient(0deg);
  background-size: 100% 200%;
}
@keyframes animateBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.comparition {
  background-image: url("2356.jpg");
  margin: 10%;
}

.comparition .box-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.comparition .box-container .box {
  flex: 1 1 rem;

  text-align: center;
  transition: 0.2s linear;
}

.comparition .box-container .box img {
  height: 60%;
  width: 60%;
}
